{% extends 'base.html' %}
{% load static %}

{% block everypage %} <h3><b> Add Book</b></h3> {% endblock everypage %}


{% block content %}
<br>
<div style="border-bottom:5px rgb(215, 83, 83) solid;">
    <h3>Register a Book</h3>
</div> 
<hr>

{% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <strong> {{ message }} </strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
  
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

  <br>

    <input class="btn btn-danger " type="submit" value="Add Book" >


</form>




{% endblock content %}