{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block everypage %} <h3><b> Register</b></h3> {% endblock everypage %}


{% block content %}
<br>
<br>
<div style="border-bottom:5px rgb(215, 83, 83) solid;">
    <h3>Register UserAccount</h3>
</div> 
<hr>

{% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <strong> {{ message }} </strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %} 
  
<form method="post" action="">
    {% csrf_token %}
    {{ form|crispy }}
    
    <br>
    <input class="btn btn-danger " type="submit" value="Register" >

    <div class=" justify-content-center p-text" style=" padding: 10px;">   
      Already have an account? <a href="/signin" style=";"> Sign In </a>
      </div>

</form>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


{% endblock %}
